name: Testing workflow

on:
  release:
    types:
      - published

jobs:
  test_job:
    runs-on: ubuntu-latest
    name: A testing job
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: "comment-released-prs-action"

      - name: Comment on PRs
        # uses: rdlf0/comment-released-prs-action@v2
        uses: ./
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
